#main{
 font-family: "Times New Roman", times, serif;
 font-size: 1em;
 text-align:center;
 background-color:#ccf5fc;
}
#title{
	font-size: 3em;
	color: red;
}
#image{
	max-width: 50%;
	display:block;
	margin: 0px auto;
}
#img-caption{
	margin: 10px;
}
#img-div{
	padding:10px;
	margin:10px;
	
}
#tribute-info{
	 width:100%;
	 height: auto;
	 background-color: rgb(211, 211, 211, .2); 
	 align-items: center;
	
}
#tribute-link{
	 font-weight: bold;
}
a{
	text-decoration:none;
	color:teal;
}
a:visited{
	color:purple;
}
ul{
	max-width:300px;
	margin:auto;
	padding:auto;
	text-align:left;

}
ol{
	max-width:300px;
	margin:auto;
	padding:auto;
	text-align:left;
	font-size: 2em;
}